<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PAQCompress.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <PAQCompress.My.MySettings>
            <setting name="CompressChecked" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ExtractChecked" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PAQSeries" serializeAs="String">
                <value>PAQ8PX</value>
            </setting>
            <setting name="CompressionLevel" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="b_flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="e_flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="t_flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="a_flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="s_flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="f_flag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="pxdThreads" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PAQVersion" serializeAs="String">
                <value>v181fix1</value>
            </setting>
            <setting name="compiler" serializeAs="String">
                <value>jit</value>
            </setting>
        </PAQCompress.My.MySettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
